@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

html {
  font-size: 62.5%; }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (max-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.4qrem;
  font-family: 'Inter', sans-serif; }

.container {
  width: 80%;
  margin: auto; }

.icon {
  width: 3rem; }

.large-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem; }

.box-large {
  background-color: #f0f2fa;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 22%; }
  .box-large--facebook {
    border-top: 4px solid #198ff5; }

.box-large-top {
  display: flex;
  margin-bottom: 2rem;
  align-items: flex-end; }

.metric-total {
  font-size: 5rem; }

.handle {
  margin-left: 2rem;
  font-size: 1.7rem;
  font-weight: 700; }

.followers {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #63687e;
  margin-bottom: 2rem; }

.today {
  color: #1db489; }

.up {
  width: 1rem; }

.small-row {
  display: flex;
  flex-wrap: wrap; }

.box-small {
  background-color: #f0f2fa;
  padding: 3rem 3rem;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-right: 3rem;
  margin-bottom: 3rem; }

.top {
  display: flex;
  margin-bottom: 3rem; }

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.metric-type {
  margin-right: 2rem;
  font-size: 1.7rem;
  font-weight: 700; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
