@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

// Variables

$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);

$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youTube: hsl(348, 97%, 39%);

$veryDarkBlue: hsl(230, 17%, 14%);
$veryDarkBlue: hsl(232, 19%, 15%);
$darkDesaturatedBlue: hsl(228, 28%, 20%);
$desaturatedBlue: hsl(228, 34%, 66%);
$white: hsl(0, 0%, 100%);

$veryPaleBlue: hsl(225, 100%, 98%);
$lightGrayishBlue: hsl(227, 47%, 96%);
$darkGrayishBlue: hsl(228, 12%, 44%);
$veryDarkBlue: hsl(230, 17%, 14%);

:root {
  --background-color: hsl(0, 0%, 100%);
  --topBackgroundPattern: hsl(225, 100%, 98%);
  --cardBackground: hsl(227, 47%, 96%);
  --cardText: hsl(228, 12%, 44%);
  --cardNumber: hsl(230, 17%, 14%);
}

[data-theme='dark'] {
  --background-color: hsl(230, 17%, 14%);
  --topBackgroundPattern: hsl(232, 19%, 15%);
  --cardBackground: hsl(228, 28%, 20%);
  --cardText: hsl(228, 12%, 44%);
  --cardNumber: hsl(0, 0%, 100%);
}

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-size: 1.4qrem;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
}

.container {
  width: 80%;
  margin: auto;
}

.header {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 3rem;
}

//slider
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-image: linear-gradient(
  //   to right bottom,
  //   hsl(236, 72%, 79%),
  //   hsl(237, 63%, 64%)
  // );
  background-color: $lightGrayishBlue;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:hover {
    background-image: linear-gradient(
      to right bottom,
      hsl(236, 72%, 79%),
      hsl(237, 63%, 64%)
    );
  }
}

.slider:before {
  position: absolute;
  content: '';

  height: 26px;
  width: 26px;
  left: 30px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(
    to right bottom,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(-26px);
  transform: translateX(-26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.large-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.box-large {
  background-color: var(--cardBackground);
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 22%;

  &--facebook {
    border-top: 4px solid $facebook;
  }

  &--twitter {
    border-top: 4px solid $twitter;
  }

  &--instagram {
    // border-top: 4px solid;
    // border-image-source: $instagram;
    // border-image-slice: 2;
  }
  &--youtube {
    border-top: 4px solid $youTube;
  }
}

.box-large-top {
  display: flex;
  margin-bottom: 2rem;
  align-items: flex-end;
}
.metric-total {
  font-size: 5rem;
  color: var(--cardNumber);
}

.handle {
  margin-left: 2rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: $darkGrayishBlue;
}

.followers {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: $darkGrayishBlue;
  margin-bottom: 2rem;
}

.today {
  color: $limeGreen;
}

.up {
  width: 1rem;
}

.small-row {
  display: flex;
  flex-wrap: wrap;
}

.box-small {
  background-color: var(--cardBackground);
  padding: 3rem 3rem;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.top {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.metric-type {
  margin-right: 2rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--cardText);
}

.small-number {
  font-size: 4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
