@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

// Variables
$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);

$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youTube: hsl(348, 97%, 39%);

$veryDarkBlue: hsl(230, 17%, 14%);
$veryDarkBlue: hsl(232, 19%, 15%);
$darkDesaturatedBlue: hsl(228, 28%, 20%);
$desaturatedBlue: hsl(228, 34%, 66%);
$white: hsl(0, 0%, 100%);

$veryPaleBlue: hsl(225, 100%, 98%);
$lightGrayishBlue: hsl(227, 47%, 96%);
$darkGrayishBlue: hsl(228, 12%, 44%);
$veryDarkBlue: hsl(230, 17%, 14%);

// css variables for toggle

:root {
  --background-color: hsl(0, 0%, 100%);
  --topBackgroundPattern: hsl(225, 100%, 98%);
  --cardBackground: hsl(227, 47%, 96%);
  --cardText: hsl(228, 12%, 44%);
  --cardNumber: hsl(230, 17%, 14%);
  --cardHover: hsl(228, 16%, 87%);
  --subHeadline: hsl(228, 12%, 44%);
}

[data-theme='dark'] {
  --background-color: hsl(230, 17%, 14%);
  --topBackgroundPattern: hsl(232, 19%, 15%);
  --cardBackground: hsl(228, 28%, 20%);
  --cardText: hsl(228, 12%, 44%);
  --cardNumber: hsl(0, 0%, 100%);
  --cardHover: hsl(229, 27%, 28%);
  --subHeadline: hsl(0, 0%, 100%);
}

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-size: 1.4qrem;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  transition: 0.5s;
}

.container {
  width: 77%;
  margin: auto;

  @include respond(phone) {
    width: 86%;
  }
}

.header {
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;

  @include respond(phone) {
    display: block;
  }
}

.headline-container {
  @include respond(phone) {
    margin-bottom: 2.3rem;
  }
}

.main-headline {
  font-size: 2.7rem;
  color: var(--cardNumber);

  @include respond(phone) {
    margin-bottom: 0.6rem;
  }
}

.sub-headline {
  font-size: 1.5rem;
  color: $darkGrayishBlue;

  @include respond(phone) {
    font-weight: 700;
  }
}

.toggle-container {
  display: flex;
  align-items: center;

  @include respond(phone) {
    justify-content: space-between;
    border-top: 1px solid $darkDesaturatedBlue;
    padding-top: 2rem;
  }
}

.mode {
  margin-right: 2rem;
  font-size: 1.8rem;
  color: $darkGrayishBlue;
  font-weight: 700;
}

//slider
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-image: linear-gradient(
  //   to right bottom,
  //   hsl(236, 72%, 79%),
  //   hsl(237, 63%, 64%)
  // );
  @include respond(phone) {
    font-weight: 700;
  }

  background-color: $lightGrayishBlue;
  @include respond(phone) {
    background-color: hsl(228, 16%, 87%);
  }
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:hover {
    background-image: linear-gradient(
      to right bottom,
      hsl(236, 72%, 79%),
      hsl(237, 63%, 64%)
    );
  }
}

.slider:before {
  position: absolute;
  content: '';

  height: 24px;
  width: 24px;
  left: 31px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(
    to right bottom,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(-26px);
  transform: translateX(-26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.large-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.3rem;

  @include respond(phone) {
    display: block;
  }
}

.box-large {
  background-color: var(--cardBackground);
  padding: 3rem 6rem 2.4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 23%;
  position: relative;
  // transition: 0.5s;

  &:hover {
    &:not(:nth-child(3)) {
      background-color: var(--cardHover);
    }
  }

  @include respond(phone) {
    width: 100%;
    margin: auto;
    margin-bottom: 3.2rem;
  }

  &--facebook {
    border-top: 4px solid $facebook;
  }

  &--twitter {
    border-top: 4px solid $twitter;
  }

  &--instagram {
    background-clip: padding-box;
    border-top: solid 1px transparent;

    &:hover {
      background: linear-gradient(to right, var(--cardHover), var(--cardHover));
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 1px;
      left: 1px;
      z-index: -1;
      margin-top: -4px;

      border-radius: inherit;
      background: linear-gradient(
        to right,
        hsl(37, 97%, 70%),
        hsl(329, 70%, 58%)
      );
    }
  }
  &--youtube {
    border-top: 4px solid $youTube;
  }
}

.box-large-top {
  display: flex;
  margin-bottom: 2.2rem;
  align-items: flex-end;
}

.icon {
  width: 2rem;
}

.handle {
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: $darkGrayishBlue;
}

.metric-total {
  font-size: 5.2rem;
  color: var(--cardNumber);

  @include respond(phone) {
    font-size: 6.4rem;
  }
}

.followers {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: $darkGrayishBlue;
  margin-bottom: 2.3rem;
  letter-spacing: 0.3rem;

  @include respond(phone) {
    margin-bottom: 2.9rem;
  }
}

.today {
  color: $limeGreen;
  font-size: 1.3rem;
  font-weight: 700;
}

.up-icon {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
}

.up {
  color: $limeGreen;
}

.down {
  color: $youTube;
}

.overview {
  font-size: 2.5rem;
  color: var(--subHeadline);
  margin-bottom: 2.4rem;

  @include respond(phone) {
    font-size: 2.8rem;
    margin-bottom: 3rem;
  }
}

.small-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 2rem;
  column-gap: 3rem;

  @include respond(phone) {
    display: block;
  }
}

.box-small {
  background-color: var(--cardBackground);
  padding: 3rem 3rem 1.8rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 2.3rem;
  margin-right: 3rem;

  &:hover {
    background-color: var(--cardHover);
  }

  @include respond(phone) {
    width: 100%;
    padding: 3.2rem 3rem 2.4rem 3rem;
    margin-bottom: 1.9rem;
  }
}

.top {
  display: flex;
  margin-bottom: 1.8rem;
  justify-content: space-between;
  width: 100%;
}

.percent-container {
  display: flex;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.metric-type {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--cardText);
}

.small-number {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--cardNumber);
}

.small-percent {
  font-weight: 700;
  font-size: 1.6rem;
}

.attribution {
  font-size: 11px;
  text-align: center;

  @include respond(phone) {
    display: none;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
